# --- IntelliJ ve Sistem Dosyaları ---
.idea/
*.iml
.DS_Store
Thumbs.db

# --- Backend (Java/Spring) ---
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd
**/*.class
**/*.log

# --- Frontend (React) ---
**/node_modules/
**/build/
**/dist/
**/.env
**/npm-debug.log*
**/yarn-debug.log*